$main-color: #1a1a1a;
$bg-color: #ffffff;
$grey-fill-color: #f2f1f3;
$grey-text-color: #a2a0a3;
$grey-lines-color: #e6e4e7;
$dark-grey-color: #413d43;
$pink-color: #ee2a74;
$light-pink-color: #fdeaf1;
$pink-line-color: #f16f9b;
$green-color: #27ae60;
$yellow-color: #f2c94c;
